web/.meteor/local
.*.swp
tests/a.out
tests/*.o
*.pyc
ida/*.o
ida/qira.plx
ida/qira.pmc
ida/qira.plx64
ida/qira.pmc64
ida/libwebsockets.a
tests/idb
qiradb/qiradb
old/qiradb/qiradb
db/
qemu/qemu-2*
distrib/

