web/.meteor/local
.*.swp
.*.swo
tests/a.out
tests/*.o
*.pyc
ida/*.o
ida/qira.*
ida/libwebsockets.a
tests/idb
old/qiradb/qiradb
db/
qemu/qemu-2*
distrib/
qiradb/build
cda/include
cda/clang-latest
qemu
tests/system
pin/pin-*
pin/obj-*
pin.log
*~
cda/codesearch-*
*.DS_Store
/libs/
tests/bap/out.*
tests/bap/*.log
bap/
static/python32
testvm/.vagrant
radare
venv
capstone
tests_auto/binary-autogen

