web/.meteor/local
.*.swp
tests/a.out
tests/*.o
*.pyc
ida/*.o
ida/qira.plx
ida/qira.pmc
ida/qira.plx64
ida/qira.pmc64
ida/libwebsockets.a
tests/idb
old/qiradb/qiradb
db/
qemu/qemu-2*
distrib/
libs/
qiradb/build
cda/clang
cda/include
cda/clang-latest
qemu
tests/system
pin/pin-*
pin/obj-*


