sudo: true

language: python

python:
  - 2.7

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    - clang

env:
  - CXX=g++-4.8 CC=gcc-4.8

install:
  - ./install.sh

script:
  - ./run_tests.sh
  - ./run_tests_static.sh

