Makefile
Makefile.in
.deps
.libs
.msg
*.pc
*.lo
*.la
*.a
*.o
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h?
config.h
config.h.in
.*.swp
demos/alpha-test
demos/checkerboard
demos/clip-in
demos/clip-test
demos/composite-test
demos/conical-test
demos/convolution-test
demos/gradient-test
demos/linear-gradient
demos/quad2quad
demos/radial-test
demos/scale
demos/screen-test
demos/srgb-test
demos/srgb-trap-test
demos/trap-test
demos/tri-test
pixman/pixman-srgb.c
pixman/pixman-version.h
test/a1-trap-test
test/affine-test
test/alpha-loop
test/alphamap
test/alpha-test
test/blitters-test
test/clip-in
test/clip-test
test/combiner-test
test/composite
test/composite-test
test/composite-traps-test
test/convolution-test
test/fetch-test
test/glyph-test
test/gradient-crash-test
test/gradient-test
test/infinite-loop
test/lowlevel-blt-bench
test/oob-test
test/pdf-op-test
test/prng-test
test/radial-perf-test
test/region-contains-test
test/region-test
test/region-translate
test/region-translate-test
test/rotate-test
test/scaling-crash-test
test/scaling-helpers-test
test/scaling-test
test/screen-test
test/stress-test
test/trap-crasher
test/trap-test
test/window-test
*.pdb
*.dll
*.lib
*.ilk
*.obj
*.exe
