/* universal things */
input {
  font-family: monospace;
}

td {
  font-family: monospace;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

/* haddrline */

.pchunks {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.pchunk {
  height: 40px;
  width: 25px;
  display: inline-block;
  background-color: #444444;
}

.pchunkinstruction {
  background-color: #550000 !important;
}

.pchunkmemory {
  background-color: #444422 !important;
}

.highlight {
  background-color: #FF7777 !important;
}

.halfhighlight {
  background: rgba(255, 119, 119, 0.3);
}

#haddrline {
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #282828;
  overflow: hidden;
  width: 624px;
  white-space: nowrap;
}

.hflag {
  width: 2px;
  height: 40px;
  position: absolute;
  font-family: monospace;
  color: gray;
}


/* controls */

.control {
  font-family: monospace;
  font-size: 16px;
  width: 165px;
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}

#control_clnum {
  width: 100px;
  margin-right: 0px;
}

#control_fork {
  margin-left: 0px;
  width: 50px;
  margin-right: 0px;
}

#control_changeeditor {
  margin-left: 0px;
  width: 30px;
  margin-right: 0px;
}

#control_analysis {
  margin-left: 0px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}

#control_forknum {
  margin-left: 0px;
  margin-right: 0px;
  width: 30px;
  color: #555555;
}

/* vertical timeline and flags */

#vtimelinebox {
  height: 100%;
  position: fixed;
  width: 165px;
  background-color: #AAAAAA;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.vtimeline {
  background-color: #282828;
  width: 45px;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.flag {
  width: 45px;
  height: 2px;
  position: absolute;
  font-family: monospace;
  color: gray;
}

#trash {
  font-size: 20px;
  font-family: monospace;
  bottom: 15px;
  position: fixed;
  width: 165px;
  text-align: center;
  border-top: 1px black solid;
  background-color: #777777;
}

/* everything in the right panel */

#onlypanel {
  background-color: #AAAAAA;
  border: 1px solid black;
  height: 100%;
  display: inline-block;
  position: fixed;
  left: 165px;
}

.panelthing {
  border: 1px solid gray;
  background-color: #DDDDDD;
}

/* instruction dump */

#idump {
  height: 270px;
  padding: 10px;
}

.name {
  color: purple;
}
.comment {
  color: purple;
}

/* change editor */

#changeeditor {
  float: right;
  height: 270px;
  width: 200px;
  padding: 10px;
  display: none;
}

.changeedit {
  width: 100px;
  margin: 0;
  padding: 0;
}

/* regviewer and datachanges */

#regviewer {
  /*height: 120px;*/
  background-color: #DDDDDD;
  padding: 2px;
  border: 1px solid black;
  width: 620px;
}

#datachanges {
  font-family: monospace;
  padding: 2px;
  min-height: 15px;
  width: 620px;
}

.datachanges {
  display: inline-block;
}

.change {
  color: blue;
  width: 70px;
  display: inline-block;
}

.instruction {
  font-family: monospace;
  white-space: nowrap;
}

.instructiondesc {
  min-width: 180px;
  display: inline-block;
}

.data {
  text-align: right;
  min-width: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.datachange {
  color: blue;
}

.datainstruction {
  color: #CC0000;
  min-width: 84px;
}

.datamemory {
  color: #888800;
  min-width: 84px;
}

.hdatainstruction {
  color: #CC0000;
}

.hdatamemory {
  color: #888800;
}

.reg {
  display: inline-block;
  width: 200px;
  font-family: monospace;
}

.rflag {
  width: 3px;
  height: 15px;
  position: absolute;
  opacity: 0.8;
}

.regread {
  background-color: #666644;
}

.regwrite {
  background-color: #EEEE44;
}

.regreadwrite {
  /* order is lost here */
  background: linear-gradient(to right, #666644, #EEEE44);
}

#strace {
  font-family: monospace;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  white-space: nowrap;
  width: 604px;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

