.wcDocker {
  background-color: black;
  color: #000;
}

.wcPanelBackground {
  background-color: #aaa;
}

.wcPanelBackground .wcCenter {
  background-color: #111;
}

.wcFrameFlasher {
  background-color: #777;
}

.wcFrameShadower {
  background-color: #555;
}

.wcFrameTitleBar {
  height: 20px;
  background-color: #222;
  text-align: left;
}

.wcFrameTitle {
  font-size: 12px;
  font-family: monospace;  
  text-align: center;
  color: #aaa;
  margin-top: 3px;
}

.wcFrameCenter {
  top: 20px;
}

.wcFrameButton {
  width: 20px;
  height: 20px;
  border: 0px solid #111;
  background-color: #111;
  color: #888;
  font-size: 12px;
}

.wcFrameMiniButton {
  width: 8px;
}

.wcFrameButton:hover {
  border: 0px solid black;
  background-color: black;
  color: #CCC;
}

.wcFrameButton:active {
  border: 0px solid black;
  background-color: black;
  color: #FFF;
}

.wcFrameButtonToggled, .wcFrameButtonToggled:hover {
  border-style: inset;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px solid #555;
}

.wcLayoutGridAlternate tr:nth-child(even), .wcLayoutGridAltColor {
  background-color: rgba(100, 100, 100, 0.2) !important;
}

.wcFrameEdge {
  position: absolute;
  z-index: 2;
  border: 2px solid black;
  background-color: black;
}

.wcSplitterBar {
  border: 1px solid black;
  background-color: black;
}

.wcSplitterBarStatic {
  width: 0px;
  height: 0px;
}

.wcPanelTab {
  font-family: monospace;
  color: #999;
  border-radius: 0px;
  background-color: #111;
  margin-right: 1px;
  margin-top: 1px;
  font-size: 12px;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.wcPanelTab:hover {
  background-color: #777;
}

.wcPanelTabActive {
  font-family: monospace;
  color: #DDD;
  background-color: #444;
  margin-top: 1px;
  font-size: 12px;
  line-height: 19px;
  font-weight: normal;
}

.wcPanelTabActive:hover {
  color: #DDD;
  background-color: #444;
}

.wcGhost {
  background-color: #000;
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: black;
}

::-webkit-scrollbar-corner {
  background-color: #111;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.5);
  border-radius: 0px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #444;
  border: 2px outset gray;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.7);
}

.wcMenuList, .context-menu-list {
  border: 1px solid #111;
}

.wcMenuItem, .context-menu-item {
  background-color: #444;
}

.wcMenuItemHover, .wcMenuItem:hover, .context-menu-item.hover {
  background-color: #666;
}

.wcMenuItem.disabled, .context-menu-item.disabled {
  color: #333;
  background-color: #444;
}

.wcMenuSeparator, .context-menu-separator {
  border: 2px solid #444;
  background-color: #777;
}

.wcInput, input {
  color: #CCC;
  background-color: #555;
  border: 1px solid black;
}

.wcSelect, select {
  color: #CCC;
  background-color: #555;
  outline: 0px;
}

.wcButton, button {
  color: #CCC;
  border: 1px outset #555;
  background-color: #555;
}

.wcButtonHover, .wcButton:hover, button:hover {
  border: 1px outset #666;
  background-color: #666;
}

.wcButtonActive, .wcButton:active, button:active {
  border: 1px inset #777;
  background-color: #777;
}

.wcButtonActive.wcButtonHover, .wcButton:hover.wcButtonActive, .wcButton:active.wcButtonHover, .wcButton:active:hover, button:active:hover {
  border: 1px inset #888;
  background-color: #888;
}

.wcButtonDisabled, .wcButton.disabled, button:disabled {
  border: 1px outset #494949 !important;
  background-color: #494949 !important;
  color: #333 !important;
}
