html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

/* universal things */
input {
  font-family: monospace;
}

td {
  font-family: monospace;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

#container2 {
    max-height: 15%;
}

/* controls */

#controls {
  padding-top: 4px;
  padding-bottom: 4px;
}

.control {
  font-family: monospace;
  font-size: 12pt;
  /*width: 165px;*/
  border: 1px solid black;
  /*padding: 2px;
  margin: 3px;*/
}

#control_fork {
  /*margin-left: 0px;
  width: 50px;*/
}

#control_changeeditor {
  /*margin-left: 0px;
  width: 30px;
  margin-right: 0px;*/
}

#control_analysis {
  /*margin-left: 0px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;*/
}

/* everything in the right panel */

#onlypanel {
  width: calc(100% - 110px);
  height: 100%;
  /*background-color: #AAAAAA;*/
  /*border: 1px solid black;*/
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4px;
  box-sizing: border-box;
}

.panelthing {
  border: 1px solid gray;
  background-color: #DDDDDD;
}

/* instruction dump */

#idump {
  /*height: 270px;
  padding: 5px;
  overflow: hidden;
  width: 614px;*/
  
  height: 35%;
  padding: 5px;
  overflow-y: hidden;
  overflow-x: auto;
}


.container {
 background-color: #AAAAAA;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

#container0 {
  height: 100%;
}

#vtimelinebox {
  padding-top: 4px;
  height: 100%;
  width: 110px;
  /*background-color: #AAAAAA;*/
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

