html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}


/* universal things */
input {
  font-family: monospace;
}

td {
  font-family: monospace;
}

.dynamic-info {
  width: 100%;
  background-color: #AAAAAA;
}

.splitter {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.fill {
  overflow-y: hidden;
}

/* controls */

#controls {
  padding-top: 4px;
  padding-bottom: 4px;
}

.control {
  font-family: monospace;
  font-size: 12pt;
  /*width: 165px;*/
  border: 1px solid black;
  /*padding: 2px;
  margin: 3px;*/
  background-color: #ddd;
}

#control_fork {
  /*margin-left: 0px;
  width: 50px;*/
}

#control_changeeditor {
  /*margin-left: 0px;
  width: 30px;
  margin-right: 0px;*/
}

#control_analysis {
  /*margin-left: 0px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;*/
}

/* everything in the right panel */

#onlypanel {
  width: 620px;
  height: 100%;
  /*border: 1px solid black;*/
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.panelthing {
  border: 1px solid gray;
  background-color: #DDDDDD;
}

/* instruction dump */

#static {
  padding: 5px;
  overflow-x: auto;
}

#idump {  
  padding: 5px;
  overflow-y: hidden;
  overflow-x: auto;
}


.container {
  background-color: #AAAAAA;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  background-color: #AAAAAA;
}

#vtimelinebox {
  padding-top: 4px;
  height: 100%;
  width: 100%;
  /*background-color: #AAAAAA;*/
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

