/* haddrline */

.pchunks {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.pchunk {
  height: 40px;
  width: 15px;
  display: inline-block;
  background-color: #444444;
}

.pchunkinstruction {
  background-color: #550000 !important;
}

.pchunkmemory {
  background-color: #444422 !important;
}

.highlight {
  background-color: #FF7777 !important;
}

.halfhighlight {
  background: rgba(255, 119, 119, 0.3);
}

#haddrline {
  height: 40px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #282828;
  overflow: hidden;
  /*width: 624px;*/
  white-space: nowrap;
}

.hflag {
  width: 2px;
  height: 40px;
  font-family: monospace;
  color: gray;
  position: relative;
  display: inline-block;
}


#control_clnum {
  /*width: 115px;*/
  width: 21%;
  color: blue;
}

#control_forknum {
  /*width: 120px;*/
  /*width: 21%;*/
  width: 30px;
  color: #555555;
  margin-left: 1%;
}

#control_iaddr {
  color: #CC0000;
  width: 25%;
  margin-left: 1%;
}

#control_daddr {
  color: #888800;
  width: 25%;
  margin-left: 1%;
}

/* vertical timeline and flags */

.vtimeline {
  background-color: #282828;
  width: 45px;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
}

.flag {
  width: 45px;
  height: 2px;
  position: absolute;
  font-family: monospace;
  color: gray;
}

/* regviewer and datachanges */

.register {
  text-align: left !important;
  min-width: 42px !important;
  display: inline-block;
  margin-right: 1em;
}

#regviewer {
  /*background-color: #DDDDDD;*/
  padding: 2px;
  white-space: normal;
  /*border: 1px solid black;*/
  /*width: 620px;*/
  /*max-height: 5%;*/
}

#datachanges {
  font-family: monospace;
  padding: 2px;
  /*min-height: 15px;
  width: 620px;*/
  height: 1.2em;
}

.datachanges {
  display: inline-block;
}

.change {
  color: blue;
  width: 6em;
  display: inline-block;
}

.instruction {
  font-family: monospace;
  white-space: nowrap;
}

.instructiondesc {
  /*min-width: 180px;*/
  display: inline-block;
}

.bytesdesc {
  color: green;
  display: inline-block;
}

.datadesc {
  color: blue;
  display: inline-block;
}

.stringdesc {
  color: #e06060;
  display: inline-block;
}

.data {
  text-align: right;
  min-width: 18px;
  /*min-width: 1.5em;*/
  padding-top: 0px;
  padding-bottom: 0px;
}

.datachange {
  color: blue;
}

.datainstruction {
  color: #CC0000;
}

.datamemory {
  color: #888800;
}

.dataromemory {
  color: #555500;
}

#hexeditor {
  /*max-height: 8em;*/
  /*max-height: 25%;
  overflow-y: auto;*/
}

/*#hexdump {
    height: 20%;
    overflow-y: auto;
}*/
#hexdump {
  height: 100%;
}

.hexdumpdatainstruction {
  color: #CC0000;
}

.hexdumpdatamemory {
  color: #888800;
}

.hexdumpdataromemory {
  color: #888800;
}

.reg {
  display: inline-block;
  width: 200px;
  /*width: 20%;*/
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
}

.rflag {
  width: 3px;
  height: 15px;
  position: absolute;
  opacity: 0.8;
}

.regread {
  background-color: #666644;
}

.regwrite {
  background-color: #EEEE44;
}

.regreadwrite {
  /* order is lost here */
  background: linear-gradient(to right, #666644, #EEEE44);
}

#strace {
  font-family: monospace;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 5px;
  white-space: nowrap;
  height: 150px;
  /*height: 17%;*/
}

/* static */

.basicblock {
  background-color: #f8d5b1;
  padding: 2px;
  border: 1px solid black;
  position: absolute;
}

#gbox {
  position: relative;
  margin: 10px;
}

.hexnumber {
  color: green;
}

.op {
  /*color: #3E0854;*/
}

