/* universal things */

td {
  font-family: monospace;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

.highlight {
  background-color: #FF7777;
}

.control {
  font-family: monospace;
  font-size: 16px;
  width: 180px;
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}

#control_clnum {
  width: 100px;
  margin-right: 0px;
}

#control_fork {
  margin-left: 0px;
  width: 50px;
}

#control_forknum {
  margin-left: 0px;
  margin-right: 0px;
  width: 30px;
  color: #555555;
}

/* vertical timeline and flags */

#vtimelinebox {
  height: 100%;
  position: fixed;
  background-color: #AAAAAA;
  overflow: hidden;
}

.vtimeline {
  background-color: #282828;
  width: 50px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  position: relative;
}

.flag {
  width: 50px;
  height: 2px;
  position: fixed;
  font-family: monospace;
  color: gray;
}

/* everything in the right panel */

#onlypanel {
  background-color: #AAAAAA;
  border: 1px solid black;
  height: 100%;
  display: inline-block;
  position: fixed;
  left: 160px;
}

.panelthing {
  border: 1px solid gray;
  background-color: #DDDDDD;
}

/* instruction dump */

#idump {
  height: 180px;
  padding: 10px;
}

.name {
  color: purple;
}
.comment {
  color: purple;
}

/* regviewer and datachanges */

#regviewer {
  height: 80px;
  background-color: #DDDDDD;
  padding: 2px;
  border: 1px solid black;
  width: 620px;
}

#datachanges {
  font-family: monospace;
  padding: 2px;
  min-height: 20px;
  width: 620px;
}

.datachanges {
  display: inline-block;
}

.change {
  color: blue;
  width: 50px;
  display: inline-block;
}

.instruction {
  font-family: monospace;
}

.data {
  text-align: right;
}

.datachange {
  color: blue;
}

.datainstruction {
  color: #CC0000;
}

.datamemory {
  color: #888800;
}

.reg {
  display: inline-block;
  width: 140px;
  font-family: monospace;
}

.regread {
  background-color: #666644;
}

.regwrite {
  background-color: #EEEE44 !important;
}

