svg {
  border: 1px solid #999;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.node {
  white-space: nowrap;
}

.node rect,
.node cicrce,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}