.block {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
  text-align: left;
}
input {
  border: 1px solid black !important;
  font-family: monospace !important;
}

#timeline {
  width: 100%;
  height: 50px;
  background-color: gray;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#cfg {
  background-color: #FFFFCC;
  width: calc(100% - 700px);
  height: 100%;
  position: fixed;
  border: 1px solid black;
  text-align: center;
}

#rightpanel {
  right: 0px;
  width: 700px;
  height: 100%;
  position: fixed;
  background-color: #FFCCCC;
  border: 1px solid black;
}

#clviewer {
  height: 320px;
  border: 1px solid gray;
  background-color: #9999FF;
}

#regviewer {
  height: 80px;
  border: 1px solid gray;
}

#hexeditor {
  height: 100%;
  border: 1px solid gray;
  background-color: #FFFF55;
}

#cl_selector {
  font-size: 14px;
  width: 50px;
}

.ui-slider-track {
  margin-left: 80px !important;
  margin-right: 40px !important;
}

.address {
  color: pink;
}

.change {
  color: #888800;
  width: 35px;
  display: inline-block;
}

td {
  font-family: monospace;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

#bigcltable td {
  border: 1px solid black;
}

.highlight {
  background-color: #FF7777;
}

.reg {
  display: inline-block;
  width: 140px;
  font-family: monospace;
}

.instruction {
  font-family: monospace;
}


