.block {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  padding: 2px;
  margin-top: 5px;
  text-align: left;
  font-size: 11px;
  font-family: monospace;
}
.blockloop {
  background-color: #f8e8ff;
}
.name {
  color: blue;
}
.comment {
  color: purple;
}
#daddr_input {
  border: 1px solid black !important;
  font-family: monospace !important;
  font-size: 8px !important;
}

#vtimeline {
  width: 100px;
  height: 100%;
  position: fixed;
  background-color: #282828;
}

.flag {
  width: 100px;
  height: 1px;
  position: fixed;
  font-family: monospace;
}

.flagchange {
  background-color: blue !important;
  color: blue !important;
}

.flagiaddr {
  background-color: red;
  color: red;
}

.flagdaddrr {
  background-color: #888800;
  color: #888800;
}

.flagdaddrw {
  background-color: yellow;
  color: yellow;
}

#timeline {
  width: 100%;
  height: 50px;
  background-color: gray;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#cfg {
  background-color: #FFFFCC;
  width: calc(100% - 700px);
  height: 100%;
  position: fixed;
  border: 1px solid black;
  padding-left: 20px;
  /*text-align: center;*/
}

#rightpanel {
  right: 0px;
  width: 700px;
  height: 100%;
  position: fixed;
  background-color: #FFCCCC;
  border: 1px solid black;
}

#onlypanel {
  background-color: #AAAAAA;
  border: 1px solid black;
  height: 100%;
  display: inline-block;
  position: fixed;
  left: 100px;
}

#clviewer {
  height: 320px;
  border: 1px solid gray;
  background-color: #DDDDDD;
}

#regviewer {
  height: 80px;
  border: 1px solid gray;
  background-color: #DDDDDD;
  border: 1px solid black;
  width: 600px;
}

#hexeditor {
  border: 1px solid gray;
  background-color: #DDDDDD;
}

#cl_selector {
  font-size: 14px;
  width: 50px;
}

.ui-slider-track {
  margin-left: 80px !important;
  margin-right: 40px !important;
}

.collapse {
  color: #888888;
}

.address {
  color: #880000;
}

.daddress {
  color: #228822;
}

.change {
  color: #888800;
  width: 50px;
  display: inline-block;
}

td {
  font-family: monospace;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
}

#bigcltable td {
  border: 1px solid black;
}

.highlight {
  background-color: #FF7777;
}

.reg {
  display: inline-block;
  width: 140px;
  font-family: monospace;
}

.instruction {
  font-family: monospace;
}

